/***************BUTTON HELPERS********************/
%button-reset {
	border: none;
	background: none;
	cursor: pointer;
	font-size: 1rem;
	font-family: $font-family;
	text-align: center;
	display: inline-block;
	transition: all 0.2s;
	text-decoration: none;
}
@mixin my-button($font-weight: normal, $background: $button-bg, $background-hover: $button-bg-hover, $color:#fff) {  
	@extend %button-reset;  
	background-color: $background;
	border-radius: 50px;
	color: $color;
	padding: 1em 1.7em;
	min-width: 80px;

	&:hover,
	&:focus {
		background-color: $background-hover;
		color: #fff;
	}

	&:disabled {
		@extend %button-disabled;
	}

	//set responsive changes
	@include media('>=phone') {
		padding: .8em 1.2em;
	}
}

%button{ 
	@include my-button;
}
%button-secondary {  
	@include my-button(600, $color-brand-secondary,$color-brand-secondary-dark);
}
%button-tertiary {  
	@include my-button;
	background:transparent;
	border:1px solid #b7b7b7;
	color:$body-color;
	&:hover,&:focus{
		background: #dedede;
		color:$body-color;
		border-color: #dedede;
	}
}
%button--action{
	position: relative;
	padding-right: 2.9em;
	&:after{
		content:'';
		display:inline-block;
		padding:5px;
		background:rgba(black, 0.37) url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 185.343 185.343' style='enable-background:new 0 0 185.343 185.343;' xml:space='preserve'%3E%3Cpath style='fill:%23FFFFFF;' d='M51.707,185.343c-2.741,0-5.493-1.044-7.593-3.149c-4.194-4.194-4.194-10.981,0-15.175 l74.352-74.347L44.114,18.32c-4.194-4.194-4.194-10.987,0-15.175c4.194-4.194,10.987-4.194,15.18,0l81.934,81.934 c4.194,4.194,4.194,10.987,0,15.175l-81.934,81.939C57.201,184.293,54.454,185.343,51.707,185.343z'/%3E%3C/svg%3E") no-repeat center center;
		background-size: 57%;
		border-radius: 148px;
		height: 1.6em;
		width: 1.6em;
		color: white;
		vertical-align: middle;
		margin-left: .7em;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}
}
%button-disabled {
	background-color: $disabled-color;
	color: #ffffff;
	cursor: default;

	&:hover {
		background-color: #989898;
		color: #ffffff;
	}
}
/**************END BUTTON HELPERS*********************/
//primary button
.button {
	@extend %button;
}
//secondary button
.button-secondary{
	@extend %button-secondary;
}
//tertiary button
.button-tertiary{
	@extend %button-tertiary;
}


// the follow requires one of the above to be attached to the class too
.button--action{
	@extend %button--action;
}

.button-text {
	@extend %button-reset;
	color: $body-color;
	border-bottom: 2px solid transparent;
	padding: 0.2em;
	margin-left: -.2em;
	text-align: left;
	font-weight: bold;

	&:hover,&:focus{
		border-bottom-color: $primary-color;
		color: $body-color;
	}
}
