#logo{
	margin-bottom: .5rem;

	svg, img {
		width: 100px;
		display: block;
	}
}
#header {
	padding:1rem 0;
	background: linear-gradient(180deg, rgba(196, 196, 196, 0.4) 0%, rgba(196, 196, 196, 0) 100%);

	.wrapper {
		display: flex;
		justify-content: space-between;
		flex-flow: nowrap;
	}
}

.header-links{
	position: relative;
	width: auto;
	height: auto;
	display: flex;
	padding: 0;
	opacity:1;
	visibility: visible;
	font-size: .9rem;

	&.active{
		visibility: visible;
		opacity: 1;
		z-index: 50;
	}
		  
	a{
		color:$color-brand-dark;
		padding: .5rem;
		
	}
	nav ul{
		display: flex;
	}
	li{
		margin-bottom: 1.3rem;
	}
}
%active-main-nav{
	@extend %active-nav;
}

.nav-main {
	li{
		&.section, &.current, &:hover{
			a, a:hover, a:focus{
				@extend %active-nav;
				&:after{
					background:$color-brand;
				}
			}
		}
	}

}


@include media('>phone') {
	#header {
		position: relative;
	}
}

@include media('>tabletWide') {

	#header{
		padding: .8rem 0;

		.nav-main {
			order: 2;
		}
		
	}


	//main nav
	.nav-main {
		display: block;
		margin-top: .7rem;
		margin-right: -.5em;
		
		ul {
			display: flex;
			flex-flow: wrap;
			justify-content: flex-end;
		}
		li{
			margin-left: .5em;
			margin-bottom: 0;
			//hide home link on desktop
			&:first-child{
				display: none;
			}

		}
		

		a{
			span{
				border-bottom:2px solid transparent;
				padding-bottom: 0.2em;
				display: block;
				transition: border .5s ease;
			}
			

		}
		
	}

}
@include media('>extraLarge') {
	#logo{
		svg,img {
			width: 110px;
		}
	}

	.nav-main {	
		li{
			margin-left: 1em;
		}
	}
}