body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background: $body-bg;
}
.container, #header .wrapper {
	max-width: $container-max-width;
}
.container-read-layout{
	padding-right: 15px;
	padding-left: 15px;
	max-width: $container-read-layout-max-width;
	margin-left:auto;
	margin-right:auto;
}



//======================
// main area
//======================

#main{
	position: relative;
	min-height: 80vh;
	padding-bottom: 4rem;
}


.portfolio_summary{
	display: grid;
	grid-gap: 2rem;
	grid-template-columns: repeat(auto-fit, minmax(222px, 1fr));

	&__entry{
		display: flex;
		margin-bottom: 4rem;

		&_thumb{
			max-width: 50%;
			position: relative;
			border-radius: 8px;

			img{
				position: relative;
				top:1.2rem;
				left:1.2rem;
				border-radius: 8px;
				box-shadow: 0px 0px 33px 4px rgba(0, 0, 0, 0.25);
			}
			
		}

		&_title{
			margin-left: 3rem;
		}
	}
}


@include media('>=phone') {
	//change all bootstrap columns padding
	$unit: 20px;

	.container,.container-read-layout{
		padding-right: $unit;
    	padding-left: $unit;
	}

	[class*='col-'],
	.col {
		padding-left: $unit;
		padding-right: $unit;
	}
	.row {
		margin-right: -$unit;
		margin-left: -$unit;
	}

}

@include media('>=tablet') {
	.portfolio_summary{
		display: flex;

		&__entry{
			flex-direction: column;
			width: 30%;

			&_thumb{
				max-width: 100%;
				text-align: center;
	
				img{
					left: auto;
					margin: auto;
					width: 80%;
				}
				
			}
	
			&_title{
				margin-left: 0;
				text-align: center;
			}
		}
	}
}